# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Virtual environment =====
venv/
.env

# ===== IDE files =====
.idea/
.vscode/

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log

# ===== Database config (secrets) =====
config/db_config.py
